<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link "
       [routerLinkActive]="['active','pretty']"
       [routerLink]="['todo-list']">TodoList</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active','pretty']"
       [routerLink]="['dashboard']">DashBoard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active','pretty']"
       [routerLink]="['shoppinglist']">ShoppingList</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled"
       href="#">Disabled</a>
  </li>
</ul>
